
.DS_Store

node_modules/*
custom/*

docs/index.md

.vs
obj
bin

*.user
*.tmp
*.suo
/src/Chart.Bar.js.map
/src/Chart.Bar.js
/src/Chart.Core.js.map
/src/Chart.Core.js
packages
/src/Chart.Helpers.js
/src/Chart.Helpers.js.map
